<h1>2014 World Cup Teams</h1>
<% @teams.each do |team| %>
  <%= link_to team_path(team) do %>
    <div class="col-sm-3 team-block midnight">
      <h3><%= team.name %></h3>
      <span style="color: white">(<%= team.wins %>-<%= team.losses %>-<%= team.draws %>, <%= team.group_rank.ordinalize %> in Group <%= team.group %>)</span><br>
      <img src="<%= team.logo %>"/>
      <br><br>
    </div>
  <% end %>
<% end %>