<h1><%= @team.name %></h1>
<img src="<%= @team.logo %>"/>
(<%= @team.wins %> - <%= @team.losses %> - <%= @team.draws %>)
Currently ranked <%= (@team.group_rank).ordinalize %> in Group <%= @team.group %>.
<% match = @team.next_match %>

<div>
<h3>Next match:</h3>
<% home_team = match.teams[0] %>
<% away_team = match.teams[1] %>
<h4><%= link_to home_team.name, team_path(home_team) %> vs. <%= link_to away_team.name, team_path(away_team) %></h4>
<strong><%= match.status %></strong> | <%= link_to match.start_time, match_path(match) %>
</div>

<div>
          GF            |             GA              |           Differential<br>
<%= @team.goals_for %>  |  <%= @team.goals_against %> | <%= @team.goal_differential %>
</div>