<div class="col-md-12 team">
  <div class="col-md-2">
    <img src="<%= @team.logo %>"/>
  </div>

  <div class="col-md-4">
    <h1><%= @team.name %></h1>
    <p>(<%= @team.wins %>-<%= @team.losses %>-<%= @team.draws %>), ranked <%= (@team.group_rank).ordinalize %> in <a href="/groups/<%= @team.group_letter %>">Group <%= @team.group_letter %></a>.</p>
    <p>Next match: <%= link_to @team.next_match.display_time, @team.next_match %> vs. <%= link_to @team.next_opponent.name, team_path(@team.next_opponent) %></p>
  </div>
  <div class="col-md-6">
    <table class="ui table segment">
      <thead>
        <th>Goals For</th>
        <th>Goals Against</th>
        <th>Differential</th>
        <th>Points</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @team.goals_for %></td>
          <td><%= @team.goals_against %></td>
          <td><%= @team.goal_differential %></td>
          <td><%= @team.group_points %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-12">

  <%= render partial: "matches/matches" %>

  <div class="col-md-12">
    <div class="ui horizontal divider"><i class="circular inverted trophy globe icon"></i></div>
  </div>

  <h3>Roster</h3>
  <%= render partial: "players/players" %>
</div>