<div class="col-md-12">
  <h3>Current Group Rankings</h3>
  <div class="col-md-3">
    <table class="ui table segment" id="groups">
      <thead>
      <% @groups[0..1].each do |group| %>
        <th><%= link_to "Group " + group.group_letter, group_path(group.group_letter) %></th>
        <% group.teams.order(:group_rank).each do |team| %>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to team.name, team_path(team) %> (<%= team.wins %>-<%= team.losses %>-<%= team.draws %>): <%= team.group_points %> points <% pluralize(team.matches_played, "match") %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <table class="ui table segment" id="groups">
      <thead>
      <% @groups[2..3].each do |group| %>
        <th><%= link_to "Group " + group.group_letter, group_path(group.group_letter) %></th>
        <% group.teams.order(:group_rank).each do |team| %>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to team.name, team_path(team) %> (<%= team.wins %>-<%= team.losses %>-<%= team.draws %>): <%= team.group_points %> points <% pluralize(team.matches_played, "match") %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <table class="ui table segment" id="groups">
      <thead>
      <% @groups[4..5].each do |group| %>
        <th><%= link_to "Group " + group.group_letter, group_path(group.group_letter) %></th>
        <% group.teams.order(:group_rank).each do |team| %>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to team.name, team_path(team) %> (<%= team.wins %>-<%= team.losses %>-<%= team.draws %>): <%= team.group_points %> points <% pluralize(team.matches_played, "match") %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <table class="ui table segment" id="groups">
      <thead>
      <% @groups[6..7].each do |group| %>
        <th><%= link_to "Group " + group.group_letter, group_path(group.group_letter) %></th>
        <% group.teams.order(:group_rank).each do |team| %>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to team.name, team_path(team) %> (<%= team.wins %>-<%= team.losses %>-<%= team.draws %>): <%= team.group_points %> points <% pluralize(team.matches_played, "match") %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>