
  <h3>Current Group Rankings</h3>
  <% @groups.each do |group| %>
  <div class="col-md-3">
    <table class="table ui segment" id="groups">
      <thead>
        <th><%= link_to "Group " + group.group_letter, group_path(group.group_letter) %></th>
        <% group.teams.order(:group_rank).each do |team| %>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to team.name, team_path(team) %> (<%= team.wins %>-<%= team.losses %>-<%= team.draws %>): <%= team.group_points %> points <% pluralize(team.matches_played, "match") %></td>
          <% end %>
        </tr>
        
      </tbody>
    </table>
  </div>
  <% end %>
