<% @matches.each do |match| %>
<% home_team = match.teams[0] %>
<% away_team = match.teams[1] %>


<div class="col-md-6" id="match">
<div class="ui horizontal divider"><i class="circular inverted trophy globe icon"></i></div>
<h4>Group <%= home_team.group %></h4>
<h3><%= link_to match.display_time, match_path(match) %> <%= match.status unless match.status == "Pre-game" %></h3>
<p>
<% if match.winner? %>
  <%= match.winner.name %> defeats <%= match.loser.name %>, <%= match.home_score %> - <%= match.away_score %>
<% elsif match.status == "In-progress" %>
  <%= home_team.name %>: <%= match.home_score %> - <%= away_team.name %>: <%= match.away_score %>
<% end %>
</p>
  
  <div class="col-md-8">
    <%= link_to team_path(home_team) do %>
    <div class="col-md-4 left team-block">
      <p><img src="<%= home_team.logo %>"/><br><%= home_team.name %></p>
    </div>
    <% end %>
  
    <%= link_to team_path(away_team) do %>
    <div class="col-md-4 right team-block">
      <p><img src="<%= away_team.logo %>"/><br><%= away_team.name %></p>
    </div>
    <% end %>
  </div>

</div>
<% end %>
