
<% @matches.each do |match| %>
<div class="col-md-4 index-match midnight" id="match">
<% home_team = match.teams[0] %>
<% away_team = match.teams[1] %>
<div class="ui horizontal divider"><i class="circular inverted trophy globe icon"></i></div>
  <h4>Group <%= home_team.group_letter %></h4>
  <h3 id="match-date"><%= link_to match.display_time, match_path(match) %> <%= match.status unless match.status == "Pre-game" %></h3>
  <p class="score">
  <% if match.winner? %>
    <a href="/teams/<%= match.winner.id %>" id="winner"><span class="winner"><img src="<%= match.winner.logo %>"/><%= match.winner.name %></span></a> defeats <a href="/teams/<%= match.loser.id %>" id="loser"><span class="loser"><img src="<%= match.loser.logo %>"/><%= match.loser.name %></span></a>, <%= match.home_score %> - <%= match.away_score %>
  <% elsif match.status == "In-progress" %>
    <a href="/teams/<%= home_team.id %>"><span><img src="<%= home_team.logo %>"/> <%= home_team.name %></span></a>: <%= match.home_score %> - <a href="/teams/<%= away_team.id %>"><span><img src="<%= away_team.logo %>"/> <%= away_team.name %></span></a>: <%= match.away_score %>
  <% elsif !match.winner && match.status == "Final" %>
    Draw: <a href="/teams/<%= home_team.id %>"><span><img src="<%= home_team.logo %>"/> <%= home_team.name %></span></a>: <%= match.home_score %> - <a href="/teams/<%= away_team.id %>"><span><img src="<%= away_team.logo %>"/> <%= away_team.name %></span></a>: <%= match.away_score %>
  <% elsif match.status == "Pre-game"  %>
    <a href="/teams/<%= home_team.id %>"><span><img src="<%= home_team.logo %>"/> <%= home_team.name %></span></a>: <%= match.home_score %> - <a href="/teams/<%= away_team.id %>"><span><img src="<%= away_team.logo %>"/> <%= away_team.name %></span></a>: <%= match.away_score %>
  <% end %>
  </p>
</div>
<% end %>