<% home_team = @match.teams[0] %>
<% away_team = @match.teams[1] %>
<% match = @match %>

<div class="col-md-10" id="match">
  <div class="hr"></div>
  <h4>Group <%= home_team.group %></h4>
  <h3><%= link_to match.display_time, match_path(match) %> (<%= match.status %>)</h3>
  <%= match.venue %>
  <p>
    <% if match.winner? %>
      <%= match.winner.name %> defeats <%= match.loser.name %>, <%= match.home_score %> - <%= match.away_score %>
    <% elsif match.status == "In-progress" %>
      <%= "Live, " + match.current_game_minutes.to_s + "'" if !match.current_game_minutes.nil? %><br><%= home_team.name %>: <%= match.home_score %> - <%= away_team.name %>: <%= match.away_score %>
    <% end %>
  </p>
  
  <div class="col-md-8">
    <%= link_to team_path(home_team) do %>
      <div class="col-md-4 left team-block">
          <h3><%= home_team.name %></h3>
          <img src="<%= home_team.logo %>"/>
      </div>
    <% end %>
    <%= link_to team_path(away_team) do %>
      <div class="col-md-4 right team-block">
          <h3><%= away_team.name %></h3>
          <img src="<%= away_team.logo %>"/>
      </div>
    <% end %>
  </div>
</div>
<div class="col-md-10">
  <div class="hr"></div>
  <h4>Game Stats:</h4>
      N/A
</div>