<% home_team = @match.teams[0] %>
<% away_team = @match.teams[1] %>
<% match = @match %>
  <h4>Group <%= home_team.group_letter %></h4>
  <h3><%= link_to match.display_time, match_path(match) %> (<%= match.status %>)</h3>
  <%= match.venue %>
  <p>
    <% if match.winner? %>
      <%= match.winner.name %> defeats <%= match.loser.name %>, <%= match.home_score %> - <%= match.away_score %>
    <% elsif match.status == "In-progress" %>
      <% response = Net::HTTP.get_response("worldcup.kimonolabs.com","/api/matches/#{match.api_id}?apikey=f4552154b80ab28c8ab1a4a1adca9ebe") %>
      <% api_match = JSON.parse(response.body) %>
      <%= "Live, " + api_match["currentGameMinute"].to_s + "'" if !match.current_game_minutes.nil? %><br><%= home_team.name %>: <%= api_match["homeScore"].to_s %> - <%= away_team.name %>: <%= api_match["awayScore"].to_s %>
    <% else %>
      <%= home_team.name %>: <%= match.home_score %> - <%= away_team.name %>: <%= match.away_score %> (Draw)
    <% end %>
  </p>

<div class="col-md-6">
  <div class="team-block">
    <%= link_to team_path(home_team) do %>
      <h3><%= home_team.name %></h3>
      <img src="<%= home_team.logo %>"/>
    <% end %>
  <p id="home-score"><%= match.home_score %></p>
  </div>

  <ul>
    <% if match.status == "Final" %>
      <% @home_match_stats.each do |match_stat| %>
        <li><%= match_stat.minute %>': <%= match_stat.display %></li>
      <% end %>
    <% elsif match.status == "In-progress" %>
      <% match.current_match_stats("home").each do |current_match_stat| %>
        <li><%= current_match_stat["time"] %>': <%= current_match_stat["type_of_event"].capitalize %> - <%= current_match_stat["player"] %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-6">
  <div class="team-block">
    <%= link_to team_path(away_team) do %>  
      <h3><%= away_team.name %></h3>
      <img src="<%= away_team.logo %>"/>
    <% end %>
  <p id="away-score"><%= match.away_score %></p>
  </div>
    
  <ul>
    <% if match.status == "Final" %>
      <% @home_match_stats.each do |match_stat| %>
        <li><%= match_stat.minute %>': <%= match_stat.display %></li>
      <% end %>
    <% elsif match.status == "In-progress" %>
      <% match.current_match_stats("away").each do |current_match_stat| %>
        <li><%= current_match_stat["time"] %>': <%= current_match_stat["type_of_event"].capitalize %> - <%= current_match_stat["player"] %></li>
      <% end %>
    <% end %>
  </ul>
</div>