<div class="col-md-12">
  <h2>Welcome! This is a World Cup app [in-progress], built by <a href="https://github.com/chriskohlbrenner">Chris Kohlbrenner</a>.</h2>
  <div class="ui horizontal divider"><i class="circular inverted trophy globe icon"></i></div>

  <div class="col-md-8 left">
  <h3>Features</h3>
    <strong>Currently:</strong>
      <ul>
        <li>Index of <%= link_to "all matches, times, and results", matches_path %>.</li>
        <li>Individual pages for each team, including results and upcoming matches.</li>
        <li>List of <%= link_to "all teams and logos", teams_path %>.</li>
        <li>Data for each <%= link_to "group of four", groups_path %>.</li>
      </ul>

    <strong>Coming soon:</strong>
      <ul>
        <li>A <%= link_to "match listings page", matches_path %> that's not so hard to look at.</li>
        <li>Real-time updates to games (including times, scores, stats).</li>
        <li>Statistics and analysis of individual and team performance.</li>
        <li>Search feature enabling users to easily find any information related to a given search term.</li>
        <li>Listing of players and stats.</li>
      </ul>
  </div>
  <div class="col-md-4">
    <img id="wc-logo" src="/assets/WC-2014-Brasil.svg"/>
  </div>
</div>

<%= render 'application/divider' %>
<%= render 'matches/three_match' %>
<%= render 'application/divider' %>
<%= render 'groups/group_rank' %>
<%= render 'application/divider' %>
<h3>Top Scorers</h3>
<%= render 'players/top_scorers' %>