<div class="col-md-12">
  <h2>Welcome! This is a World Cup app [in-progress], built by <a href="https://github.com/chriskohlbrenner">Chris Kohlbrenner</a>.</h2>
  <div class="ui horizontal divider"><i class="circular inverted trophy globe icon"></i></div>

  <div class="col-md-8 left">
  <h3>Features</h3>
    <strong>Currently:</strong>
      <ul>
        <li>Index of <%= link_to "all matches, times, and results", matches_path %>.</li>
        <li>List of <%= link_to "all teams and logos", teams_path %> and individual pages for each team, including results and upcoming matches.</li>
        <li>Data for each <%= link_to "group of four", groups_path %>.</li>
        <li>Real-time updates to game scores.</li>
        <li>Listing of <%= link_to "players and stats", players_path %>.</li>
      </ul>

    <strong>Coming soon:</strong>
      <ul>
        <li>Real-time updates of all game events (substitutions, goals, etc.).</li>
        <li>Statistics and analysis of individual and team performance.</li>
        <li>Search feature enabling users to easily find any information related to a given search term.</li>
      </ul>

    <strong>Notes:</strong>
      <ul>
        <li>This app is built using <a href="http://kimonolabs.com/worldcup/explorer">Kimono Labs' World Cup API</a> and <a href="http://worldcup.sfg.io/">"World Cup...in JSON"</a>. As such, it is at times limited by the quality of API data.</li>
      </ul>
  </div>
  <div class="col-md-4">
    <img id="wc-logo" src="/assets/WC-2014-Brasil.svg"/>
  </div>
</div>

<%= render 'application/divider' %>
<%= render 'matches/three_match' %>
<%= render 'application/divider' %>
<%= render 'groups/group_rank' %>
<%= render 'application/divider' %>
<h3>Top Scorers</h3>
<%= render 'players/top_scorers' %>