<!DOCTYPE html>
<html>
<head>
  <title>WorldCupApp</title>
  <%= include_gon %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag 'logo.png' %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/navbar' %>

<div class="main-content">
<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>